---
- name: Install nfs-utils package
  yum:
    name: nfs-utils
    state: present

- name: Install iscsi-initiator-utils package
  yum:
    name: iscsi-initiator-utils
    state: present

- name: Configure initiator name
  lineinfile:
    path: /etc/iscsi/initiatorname.iscsi
    line: "InitiatorName=$(/sbin/iscsi-iname)"
    create: yes

- name: Enable iscsid service
  systemd:
    name: iscsid
    enabled: true

- name: Start iscsid service
  systemd:
    name: iscsid
    state: started

- name: Load iscsi_tcp kernel module
  modprobe:
    name: iscsi_tcp

- name: Copy longhorn configuration files
  template: src="{{ item.src }}" dest="{{ item.dest }}"
  with_items:
    - {
        src: "longhorn.yaml.j2",
        dest: "/etc/kubernetes/kubeadm/longhorn.yaml",
      }
  when: >
    inventory_hostname in groups['kube_master'] and
    groups['kube_master'].index(inventory_hostname) == 0

- name:  Create longhorn
  shell: kubectl apply -f /etc/kubernetes/kubeadm/longhorn.yaml; 
  when: >
    inventory_hostname in groups['kube_master'] and
    groups['kube_master'].index(inventory_hostname) == 0
