ETCD_DATA_DIR=/var/lib/etcd
ETCD_ADVERTISE_CLIENT_URLS=https://{{ INTERNAL_IP }}:2379
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ INTERNAL_IP }}:2380
ETCD_INITIAL_CLUSTER_STATE={{ STATE }}
ETCD_LISTEN_CLIENT_URLS=https://{{ INTERNAL_IP }}:2379
ETCD_ELECTION_TIMEOUT=5000
ETCD_HEARTBEAT_INTERVAL=250
ETCD_LISTEN_PEER_URLS=https://{{ INTERNAL_IP }}:2380
ETCD_NAME={{ ansible_hostname }}
ETCD_PROXY=off
ETCD_INITIAL_CLUSTER={% for host in groups['kube-etcd'] %}{{ hostvars[host]['ansible_hostname'] }}=https://{{ hostvars[host]['INTERNAL_IP'] }}:2380{{ "," if not loop.last else "" }}{% endfor %}

ETCD_TRUSTED_CA_FILE=/etc/etcd/pki/ca.pem
ETCD_CERT_FILE=/etc/etcd/pki/etcd.cert
ETCD_KEY_FILE=/etc/etcd/pki/etcd.key

ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/pki/ca.pem
ETCD_PEER_CERT_FILE=/etc/etcd/pki/etcd.cert
ETCD_PEER_KEY_FILE=/etc/etcd/pki/etcd.key
ETCD_PEER_CLIENT_CERT_AUTH=true